<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">
                <img src="/img/logo.jpg" alt="Photofind">
            </a>
        </div>

    </div>
</nav>
