<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/readable.css">
    <link rel="stylesheet" type="text/css" href="/css/landingStyle.css">
    <title>PhotoFind</title>
</head>
<body>

<header>
</header>
<!--border for page-->
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<!--logo-->
<img id="logo" src="/img/land_trans.png">


<section class="btnwrapper">
    <p id="welcomeMsg">Find your adventure</p>
    <a href="/login"><button id="logBtn" class="btn btn-primary">Login</button></a>
    <a href="/signup"><button id="supBtn" class="btn btn-default">Sign Up</button></a>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>